<header class="c-header">  
  <div class="c-header__main">
    <div class="c-header__left">
      <a class="c-header__logo" href="<%= BASE_URL %>index.html"> 
        <picture>
          <source media="(max-width:1023px)" srcset="./assets/img/logosp.png">
          <img class="c-header__logoimg" src="./assets/img/logo.png" alt="Matsuguchi">
        </picture>
      </a>
    <p class="c-header__slogan">松口内科・循環器内科クリニック</p>
    </div>
    <nav class="c-header__nav">
      <ul class="c-header__menu">
        <% if (typeof linklists != 'undefined') { %>
          <% linklists.main && linklists.main.forEach(link => { %>
            <li class="c-header__item <%= link.class %>">
              <a class="c-header__link <% if (link.current || link.active) { %>is-active<% } %>" href="<%= link.url %>">                
              <img class="c-header__icon" src="<%= link.icon %>" alt="<%= link.title %>"><%= link.title %></a>
            </li>
          <% }) %>
        <% } %>
      </ul>
    </nav>
    <div class="c-header__right">
      <a href="#" class="c-header__btn"><span class="c-header__txt">WEB 予約</span></a>
      <p class="c-header__tel">092-407-5555</p>
    </div>
    <div class="c-header__iconmenu u-notpc">
      <i class="c-header__line"></i>
      <i class="c-header__line"></i>
      <i class="c-header__line"></i>
    </div>
  </div>  
<nav class="c-header__gnavmb u-notpc">      
  <ul class="c-header__overlay">
    <% if (typeof linklists != 'undefined') { %>
      <% linklists.menufooter && linklists.menufooter.forEach(link => { %>
        <li class="c-header__itemmb">
          <a class="c-header__linkmb <% if(link.classaddon){ %><%= link.classaddon %><% } %> <% if (link.current || link.active) { %>is-active<% } %>" href="<%= link.url %>"><%= link.title %></a>
          <% if(link.sub){ %>          
              <ul class="c-header__subgnavmb">
                <% link.sub.forEach(item => { %>
                <li class="c-header__subnavmb">
                  <a href="<%= item.url %>" class="c-header__sublinkmb"><%= item.title %></a>
                </li>                
            <% }) %>
              </ul>
          <% } %>
        </li>
      <% }) %>
    <% } %>  
  </ul>
  <div class="c-header__social">
    <ul class="c-header__socialmedia">
      <li class="c-header__itemsocial c-header__instagram">
        <a href="https://www.instagram.com/" target="_blank">Instagram<i class="c-header__iconmn c-header__iconins"></i></a>
      </li>
      <li class="c-header__itemsocial c-header__facebook">
        <a href="https://www.facebook.com/" target="_blank">facebook<i class="c-header__iconmn c-header__iconfb"></i></a>
      </li>
      <li class="c-header__itemsocial c-header__linemedia">
        <a href="https://line.me/" target="_blank">LINE<i class="c-header__iconmn c-header__iconline"></i></a>
      </li>
    </ul>
  </div>
  <div class="c-header__btninner">
    <a href="#" class="c-header__btn c-header__btnmb"><span class="c-header__txt">WEB 予約</span></a>
  </div>
  <table class="c-header__table">
    <tbody>
        <tr class="c-header__tr">
            <th class="c-header__th">受付時間</th>
            <th class="c-header__th">月</th>
            <th class="c-header__th">火</th>
            <th class="c-header__th">水</th>
            <th class="c-header__th">木</th>
            <th class="c-header__th">金</th>
            <th class="c-header__th">土</th>
            <th class="c-header__th">日・祝</th>
        </tr>
        <% if (typeof table !='undefined' ){ table.forEach(item=> { %>
            <tr class="c-header__tr">
                <th class="c-header__th">
                    <%= item.th %>
                </th>
                <% item.td.forEach(i=> { %>
                    <td class="c-header__td">
                        <i class="c-header__status<% if(i.status == false){ %> is-off<% } else{ %> is-open<% } %>"></i>
                    </td>
                    
            <% }) %>
            </tr>
                <% }) } %>
    </tbody>
</table>
<div class="c-header__copyright">Copyright© 2023 Matsuguchi-clinic All Rights Reserved</div>
</nav>
</header>
