<section class="c-notify" id="notify">
  <div class="l-container l-container--w960">
    <h2 class="c-title c-notify__title">お知らせ</h2>
    <div class="c-notify__main">
      <div class="c-notify__left">
        <ul class="c-notify__listlabel pc-only">
          <% if (typeof notify !='undefined' ) { %>
            <% notify.label && notify.label.forEach((item,i)=> { %>
              <% if (i==0){ %>
                <li class="c-notify__itemlabel is-active" data-id="<%= item.id %>">
                  <%= item.name %>
                </li>
                <% } else { %>
                  <li class="c-notify__itemlabel" data-id="<%= item.id %>">
                    <%= item.name %>
                  </li>
                  <% } %>
                    <% }) %>
                      <% } %>
        </ul>
        <ul class="c-notify__listlabel sp-only">
          <li class="c-notify__group">
            <ul class="c-notify__listinner">
              <li class="c-notify__itemlabel c-notify__itemall is-active" data-id="1">すべて</li>
              <li class="c-notify__itemlabel c-notify__itemfirst" data-id="2">お知らせ</li>
            </ul>
          </li>
          <li class="c-notify__group">
            <ul class="c-notify__listinner">
              <li class="c-notify__itemlabel" data-id="3">訪問診療</li>
              <li class="c-notify__itemlabel" data-id="4">採用</li>
              <li class="c-notify__itemlabel" data-id="5">その他</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="c-notify__right">
        <% if (typeof notify !='undefined' ) { %>
          <div class="c-notify__list is-active" id="1">
            <% notify.post && notify.post.forEach(item=> { %>
              <a class="c-notify__item" href="#">
                <div class="c-notify__content">
                  <div class="c-notify__date">
                    <%= item.date %>
                  </div>
                  <div class="c-notify__name">
                    <%= item.name %>
                  </div>
                  <p class="c-notify__desc">
                    <%= item.desc%>
                  </p>
                  <% if (item.tag.length> 0) { %>
                    <span class="c-notify__tag">
                      <%= item.tag %>
                    </span>
                    <% } %>
                </div>
              </a>
              <% }) %>
          </div>
          <% notify.post && notify.post.forEach(item=> { %>
            <div class="c-notify__list" id="<%= item.id %>">
              <a class="c-notify__item" href="#">
                <div class="c-notify__content">
                  <div class="c-notify__date">
                    <%= item.date %>
                  </div>
                  <div class="c-notify__name">
                    <%= item.name %>
                  </div>
                  <p class="c-notify__desc">
                    <%= item.desc %>
                  </p>
                  <% if (item.tag.length> 0) { %>
                    <span class="c-notify__tag">
                      <%= item.tag %>
                    </span>
                    <% } %>
                </div>
              </a>
            </div>
            <% }) %>
      </div>
      <% } %>
    </div>
    <a href="#" class="c-btn c-notify__btn">
      <span class="c-notify__btntxt">お知らせ一覧</span>
    </a>
  </div>
</section>