<section class="c-notify">
    <h2 class="c-title c-notify__title">お知らせ</h2>
    <div class="l-container l-container--w960">
        <div class="c-notify__main">
            <div class="c-notify__left">
                <ul>
                    <% if (typeof notify != 'undefined') { %>
                        <% notify.label && notify.label.forEach(item => { %>
                          <li class="c-notify__item"><%= item.name %></li>
                        <% }) %>
                      <% } %>
                </ul>
            </div>
            <div class="c-notify__right">
                <% if (typeof notify != 'undefined') { %>
                    <% notify.post && notify.post.forEach(item => { %>
                      <a href="#">
                        <dl class="c-notify__item">
                            <dt class="c-notify__date"><%= item.date %></dt>
                            <dd class="c-notify__name"><%= item.name %></dd>
                            <dd class="c-notify__desc"><%= item.desc %></dd>
                            <% if (typeof item.tag != 'undefined') { %>
                                <span class="c-notify__tag"><%= item.tag %></span>
                                <% } %>
                        </dl>
                      </a>
                    <% }) %>
                  <% } %>
            </div>
        </div>
    </div>
    <a href="#" class="c-notify__btn">
        <span class="c-notify__btntxt">お知らせ一覧</span>
    </a>
</section>